 {% extends 'index.html' %}
 {% block content %}
 <section class="breadcrumb-section set-bg" data-setbg="static/image/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
 </section>
 <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <br>
                    <div class="contact__widget">
                        <img src="static/image/f-delivery.png" alt="">
                        <h4>Free shipping</h4>
                        <p>Free shipping in 3 km range about palangad</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="contact__widget">
                        <img src="static/image/coin.png" alt="">
                        <h4>100% Return facility </h4>
                        <p>Return facility, if any product is out of dated it will return by us</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="contact__widget">
                        <img src="static/image/chat.png" alt="">
                        <h4>Online support 24/7</h4>
                        <p>We support 24*7 online</p>
                    </div>
                </div>
            </div>
        </div>
 </section>



 {% endblock %}
