 {% extends 'index.html' %}
 {% block content %}
 {% load cart %}
 {% load custom_filter %}
  <section class="breadcrumb-section set-bg" data-setbg="static/image/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>THANK YOU</h2>
                        <h4 style="color:white;">FOR SHOPPING WITH US</h4>
                    </div>
                      <h4 style="color:white;">We will contact you soon!</h4>
                </div>
            </div>
        </div>
  </section>

<section class="shoping-cart spad">

        <div class="container">
            <h2>Your Orders :</h2>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>No:</th>
                                    <th>Products</th>
                                    <th>Date</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for order in orders %}
                                <tr>
                                    <td>{{forloop.counter }}</td>
                                    <td>
                                        <h5>{{order.product.pname}}</h5>
                                    </td>
                                    <td >
                                        {{order.date}}
                                    </td>

                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            {{order.quantity}}
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        {{order.quantity|multiply:order.price|currency}}
                                    </td>
                                </tr>

                             {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>

 {% endblock %}