{% extends 'index.html' %}
{% block content %}
{% load custom_filter %}
{% load cart %}

<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="static/image/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        {% for product in products %}
                        <h2>{{product.pname}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="media/{{product.pimage}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.pname}}</h3>
                        <div class="product__details__price">{{product.price|currency}}/kg</div>
                        <p>{{product.pdesc}}</p>

                        <div class="product__details" >
                            {% if product|is_in_cart:request.session.kart %}
                            <div class="quantity row ">
                                <form action="#" method="POST" class="btn btn-light">{% csrf_token %}
                                    <input hidden type="text" name="product" value="{{product.id}}">
                                    <input hidden type="text" name="remove" value="True">
                                    <input type="submit" value="-" >
                                </form>
                                <div class="text-center">&nbsp; {{product|cart_quantity:request.session.kart}} in Cart &nbsp;</div>
                                <form action="#" method="POST" class="btn btn-light">{% csrf_token %}
                                    <input hidden type="text" name="product" value="{{product.id}}">
                                    <input type="submit" value="+" >
                                </form>
                            </div>
                            {% else %}
                            <form action="details" method="POST">{% csrf_token %}
                            <input hidden type="text" name="product" value="{{product.id}}">
                            <input type="submit" class="primary-btn" value ="ADD TO CART">
                            
                            </form>
                            {% endif %}
                            <button class="primary-btn" ><i class="fa fa-shopping-bag" style="font-size:15px"></i>&nbsp GO TO CART</button>
                        </div>
                        {% endfor %}
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}